<p>
  Here are some graphs comparing 2 youtube channels
</p>
<div id="chartContainerSubsGap" style="height: 470px; width: 100%; margin-left:auto;margin-right:auto;"></div>
<div id="chartContainerSubsAB" style="height: 470px; width: 100%; margin-left:auto;margin-right:auto;"></div>
<div id="chartContainerViewsGap" style="height: 470px; width: 100%; margin-left:auto;margin-right:auto;"></div>
<div id="chartContainerViewsAB" style="height: 470px; width: 100%; margin-left:auto;margin-right:auto;"></div>
